.pageWrapper {
  width: 100%;
  height: 100%;
}

.headerWrapper {
  background-color: var(--a-bg-default);
  padding: 24px;
}

.varslerContainer {
  padding: 24px 16px 48px 16px;
  background-color: var(--a-bg-subtle);
}

.varsler {
  list-style-type: none;
  padding: 0;
}

.overskrift {
  margin-bottom: 16px !important;
}
