.contentWrapper {
  padding: 16px;
  width: 100%;
}

.varsel {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 8px;
  width: 600px;
  color: #272727;
  border: solid 1px var(--a-border-subtle);
}

.klikkbartVarsel {
  text-decoration: none;
  transition: background-color 0.1s linear;
}

.klikkbartVarsel:hover {
  background-color: var(--a-surface-hover);
  cursor: pointer;
}

.klikkbartVarsel:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.tittel {
  padding: 0.25rem 0;
}

.klikkbarTittel {
  font-weight: bolder !important;
  padding: 0.25rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.varselTypeContainer {
  display: flex;
  gap: 0.5rem;
}

.chevronContainer {
  display: flex;
  align-items: center;
}

.metadataOgKnapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.eksterntVarslet {
  color: var(--a-text-subtle);
}

.dato {
  color: var(--a-text-subtle);
}

.chevron {
  color: var(--a-text-subtle);
  width: 21px;
  min-width: 21px;
  height: 21px;
}

@media (max-width: 600px) {
  .varsel {
    width: 100%;
  }
}
