.wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
}

.tekstWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.headerWrapper {
  margin-bottom: 24px;
}
