.app {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 32%;
}

main {
  max-width: none !important;
  background-color: var(--a-surface-subtle) !important;
}
