name: "Build and deploy"
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - .github/workflows/**

jobs:
  deploy:
    uses: navikt/tms-deploy/.github/workflows/mikrofrontend-deploy.yaml@main
    with:
      cluster: '["dev-gcp", "prod-gcp"]'
      node-version: 16
    secrets: inherit